@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif, 'poppins';
}
:root{
    --text-color: #000;
    --footer-color: #e3e6f3;
}
body{
    width: 100%;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h3 {
    font-size: 30px;
    line-height: 40px;
    color: #222;
}
h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}


/*nav bar*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: var(--footer-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
.logo{
    font-weight: 700;
    text-decoration: none;
    color: var(--text-color);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    text-transform: capitalize;
}
.nav li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
}
.nav li a:hover,
.nav li a.active{
    color: #15aca2;
}
.nav li a.active::after,
.nav li a:hover::after{
    content: '';
    width: 50%;
    height: 2px;
    background-color:#15aca2 ;
    position: absolute;
    bottom: -2px;
    left: 25%;
}
.mobile{
    display: none;
    align-items: center ;
    cursor: pointer;
}
#close{
    display: none;
}
@media(max-width:840px){
    .nav{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        position:fixed;
        top: 0px;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1)  ;
        padding: 80px 0 0 10px ;
        transition: 1s ease;
    }
    .nav.active{
        right: 0;
    }
    .nav li{
        margin-bottom: 25px;
    }
    .mobile{
        display: flex;
        align-items: center;
    }
    .mobile i{
        font-size: 25px;
        color: #1a1a1a;
        padding-left:20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px ;
    }
    #bag{
        display: none;
    }
}
@media(max-width:477px){
    .logo h1 {
        font-size: 20px;
        font-weight: 600;
    }
    .mobile i{
        font-size: 20px;
    }
}
/*nav bar*/

/* footer */
footer{
    display: flex;
    justify-content: space-between;
    height: 80vh;
}
footer .col{
    padding: 20px;
    margin: 40px;
    width: 250px;
    display: flex;
    flex-direction: column;
}

footer .col ul{
    list-style: none;
}
footer .col a{
    color: black;
    text-decoration: none;
}
footer .col .links{
    display: flex;
    padding: 10px;
}
footer .col .links a{
    margin: 5px;
    font-size: 25px;
    opacity: 0.8;
}
footer .col h5{
    margin: 10px 0;
    color: #222;
    font-size: 18px;
    position: relative;
}
#aph{
    margin: 7px;
    padding: 5px;
    color: #222;
    font-size: 15px;
}

footer .col a{
    padding: 10px 0;
    text-transform: capitalize;
}
footer .col .links a:hover{
    transition: 1s ease;
    opacity: 1;
    font-size: 30px;
}
footer .col a:hover{
    transition: 1s ease;
    font-size: 25px;
    font-weight: 500;
}

footer .col h5::after{
    content: '';
    width: 25%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -10px;
    border-radius: 20px;
    right: 75%;
}
@media(max-width:840px){
    footer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    footer .col{
        margin: 20px;
    }
}
@media(max-width:477px){
    footer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}

/* end footer */
/* end-body */